{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "prettier"
    ],
    "env": {
      "browser": true
    },
    "parserOptions": { 
        "ecmaVersion": 2021, 
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "settings": {
        "react":{
            "version": "detect"
        }
    },
    "rules": {
      "no-plusplus": [0],
      "no-unused-vars":"warn",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": "off",
      "react/jsx-props-no-spreading": [0],
      "import/prefer-default-export": [0],
      "react/no-array-index-key": [0]
    }
    
  }